/* Normalizamos los estilos con el selector universal  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(10, 56%, 87%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}

.Card_Sec1 {
  width: 370px;
  height: 84px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(10, 79%, 65%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 22px;
}

.textosHeaderCard {
  color: hsl(27, 66%, 92%);
}
.textosHeaderCard h2 {
  margin-top: 3px;
  font-size: 18px;
}

.textosHeaderCard h4 {
  font-size: 12px;
}

.containerSecMain {
  width: 370px;
  height: 350px;
  background-color: hsl(33, 100%, 98%);
  margin-top: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 22px;
}
.Card_Sec2 {
  border-bottom: 2px solid hsl(27, 66%, 92%);
  margin-bottom: 20px;
}

.Card_Sec2 h2 {
  font-size: 23px;
  color: hsl(25, 47%, 15%);
}
/* Ancho y border radius de todas las barras  */
.wBar {
  width: 34px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* Estilos para el texto debajo de las barras  */
.texto_bar_centro {
  text-align: center;
  font-size: 10px;
  margin: 5px;
  color: hsl(28, 10%, 53%);
}
.graficos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  /* Margen linea  */
  padding-bottom: 10px;
}
.graficos .Bars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para Textos para las etiquetas encima de las barras  */

.textActive {
  visibility: hidden;
  background-color: hsl(25, 47%, 15%);
  padding: 5px;
  font-size: 9px;
  color: hsl(27, 66%, 92%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 5px 0;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.Bars:hover .textActive {
  visibility: visible;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

/* Empiezan las alturas para las barras  */
.hBar1 {
  height: 41px;
  background-color: hsl(10, 79%, 65%);
}
.hBar2 {
  height: 68px;
  background-color: hsl(10, 79%, 65%);
}

.hBar3 {
  height: 101px;
  background-color: hsl(186, 34%, 60%);
}
.hBar4 {
  height: 61px;
  background-color: hsl(10, 79%, 65%);
}
.hBar5 {
  height: 46px;
  background-color: hsl(10, 79%, 65%);
}
.hBar6 {
  height: 84px;
  background-color: hsl(10, 79%, 65%);
}
.hBar7 {
  height: 48px;
  background-color: hsl(10, 79%, 65%);
}

/* Comienzan los estilos para el footer de la carta  */

.Card_Sec3 {
  display: flex;
  justify-content: space-between;
}

.textosFooterCard1 h4 {
  color: hsl(28, 10%, 53%);
  font-size: 12px;
}
.textosFooterCard1 h1 {
  margin-top: 5px;
  font-size: 31px;
}

.textosFooterCard2 {
  text-align: right;
  margin-top: 7%;
}
.textosFooterCard2 h3 {
  font-size: 13px;
  font-weight: 700;
}

.textosFooterCard2 h4 {
  color: hsl(28, 10%, 53%);
  font-weight: 700;
  font-size: 12px;
}
